@import './variables';

.section-header {
  display: flex;
}

.section-name {
  flex-grow: 1;
  color: $green;
}

.count {
  align-self: center;
  color: $green;
  font-size: $body-font-size;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}