@import './variables';

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $green;
  border-left: solid 2px $green;
  padding: 0.5rem 0 0 1rem;
  gap: 2.5rem;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
}

.subtitles {
  font-size: $body-font-size;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.body {
  font-size: $body-font-size;
  text-align: justify;
  margin-bottom: 0;
}

.links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.link {
  display: flex;
  font-size: $body-font-size;
  margin-bottom: 0;

  a {
    text-decoration: underline;
  }
}

.image {
  width: 150px;
  height: 150px;
  border: solid 1px $green;
  align-self: center;
}