@use './variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $green;
  padding: 0.5rem $gutter-size 0.5rem $gutter-size;

  &.mobile {
    padding: 0 $mobile-gutter-size 0.5rem $mobile-gutter-size;
  }
}

.copyright {
  width: 100%;
  border-top: 2px solid $green;
}