@use './variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $green;
  padding: 0.5rem 0 0.5rem 0;

  &.mobile {
    padding-bottom: 0.5rem;
  }
}

.copyright {
  width: 100%;
  border-top: 2px solid $green;
  font-size: $subtitle-font-size;
}