@use './assets/css/variables' as *;

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
}

.foreground {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 70rem;
  margin: 0;
  background-color: rgba($black, 0.9);
  padding: 0 1rem 0 1rem;
  
  &.mobile {
    padding: 0;
  }
}

.content {
  display: flex;
  flex-grow: 1;
  padding-bottom: 1rem;

  &.mobile {
    padding-bottom: 1rem;
  }
}

select {
  height: fit-content;
  background-color: $black;
  font-family: 'monogram';
  font-size: $subtitle-font-size;
  border: solid 1px;
  border-color: inherit;
  cursor: pointer;
}

option {
  font-family: 'monogram';
}

input {
  font-family: 'monogram';
  background-color: rgba($black, 0);
  border: none;
  outline: none;
  font-size: $body-font-size;
}

a {
  text-decoration: underline;
  color: $green;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}