@import './assets/css/variables';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: FixedsysExcelsior;
}

.content {
  display: flex;
  flex-grow: 1;
  padding: 0 $gutter-size 1rem $gutter-size;

  &.mobile {
    padding: 0 $mobile-gutter-size 1rem $mobile-gutter-size;
  }
}

select {
  height: fit-content;
  background-color: $black;
  font-family: FixedsysExcelsior;
  font-size: $body-font-size;
  border: solid 1px;
  border-color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}