@import './assets/css/variables';

.app {
  display: flex;
  flex-direction: column;
  background-color: $black;
  min-height: 100vh;
  margin: 0;
  padding: 0 10% 0 10%;
  font-size: $title-font-size;
}

.content {
  display: flex;
  flex-grow: 1;
  padding-bottom: 2rem;
}

select {
  appearance: none;
  height: fit-content;
  background-color: $black;
  color: $green;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: $body-font-size;
  border: solid 1px $green;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}