@use './assets/css/variables' as *;

@font-face {
  font-family: 'monogram';
  src: url('./assets/fonts/monogram/monogram.ttf') format('truetype');
}

body {
  display: flex;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  background-color: $black;
  font-family: 'monogram';
}