@use './assets/css/variables' as *;

@font-face {
  font-family: 'Fixedsys Excelsior';
  src: url('./assets/fonts/Fixedsys Excelsior/Fixedsys Excelsior 3.01 Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: $black;
  font-family: 'Fixedsys Excelsior';
}